@using LevantamientoDeRed.Dto;
@model List<ServicioDto>

@{
    ViewData["Title"] = "Listado de Servicios";
    var contador = 0;
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Servicios</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Tablero</a></li>
        <li class="breadcrumb-item"><a href="/Contratos">Contratos</a></li>
        <li class="breadcrumb-item active">Servicios</li>
    </ol>
    <a asp-action="Crear" asp-controller="Servicios" class="btn btn-primary mb-3">Crear nuevo</a>
    @if (ViewData["error_mensaje_listado_Servicios"] is not null)
    {
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Ocurri&oacute; un error</h4>
            <p>@ViewData["error_mensaje_listado_Servicios"]</p>
        </div>
    }
    <div class="card">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Registros
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="datatablesServicios">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>                            
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model ?? new())
                        {
                            <tr>
                                <td>@(++contador)</td>
                                <td>@item.Nombre</td>                                
                                <td class="d-md-block">
                                    <div class="d-flex gap-2">
                                        <a asp-action="Editar" asp-controller="Servicios" asp-route-id="@item.Id" class="btn btn-info">Editar</a>
                                        <a asp-action="Eliminar" asp-controller="Servicios" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/ListaServiciosDatatable.js"></script>
}
